// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much
.gist-data.gist-syntax > div > table {
  width: 80%;
}

.gist-data.gist-syntax table, .gist-data.gist-syntax .line-numbers {
  font-size: 15px;
}

.gist-data.gist-syntax > div > table > tbody > tr > td.line-numbers{
  padding: 0px 3px 0 2px !IMPORTANT;
}